body {
    margin: 0;
    padding: 0;
    background-image: url('images/bg-photo.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Palatino', 'URW Palladio L', serif;
    color: #fff;
    font-size: 48px;
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #472725;
}

h3 {
    font-family: 'Inter', sans-serif;
    color: #b49f6b;
    font-size: 18px;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

a {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border: #000 solid 1px;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #000;
}

.tagline-txt {
    font-family: 'Lora', serif;
    color: #fff;
}

.logo-header {
    width: 100%;
    height: 100px;
    background-color: #b49f6b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-header img {
    padding: 10px;
    height: 80%;
    cursor: pointer;
}

.content {
    text-align: center;
    padding: 20px;
    max-width: 95%;
    margin: 0 auto;
    background-color: #472725;
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
}

.tagline-txt {
    font-size: 18px;
}

.slogan-txt {
    font-family: 'Selima', serif;
    font-size: 36px;
    font-weight: bold;
    margin-top: 10px;
}

.about-div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}

.experiences-div hr {
    border: 0;
    height: 1px;
    background-color: #fff;
    width: 30%;
    margin-bottom: 20px;
}

.about-content {
    padding: 50px;
    max-width: 60%;
    margin: 0 auto;
    background-color: #fff;
    opacity: 0.9;
    margin-top: 20px;  
    border-radius: 8px; 
    text-align: center;
    line-height: 1.6;
}

.divider {
    border: 0;
    height: 1px;
    background-color: #b49f6b;
    margin: 20px auto;
    width: 50%;
}

.sig-ex-txt {
    background-color: #b49f6b;
    color: #fff;
    text-align: center;
}

.experiences-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b49f6b;
    padding: 20px;
}

.sig-experiences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    background-color: #b49f6b;
    padding: 20px;
}

.experience {
    background-color: #fff;
    opacity: 1;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: center;
    text-align: center;
}

.experience:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.exp-divider {
    border: 0;
    height: 1px;
    background-color: #b49f6b;
    margin: 20px auto;
    width: 80%;
}

.experience img {
    width: 80%;
    height: 150px;
    border-radius: 8px;
    border: 1px solid #b49f6b;
}

.sig-experiences h3 {
    margin-top: 10px;
    color: #472725;
    font-family: 'Georgia', serif;
}

.reserve-div {
    background-color: #fff;
    font-family: 'Playfair Display', serif;
    color: #fff;
    text-align: center;
    padding: 20px;
    opacity: 0.9;
    border-radius: 8px;
    margin: 20px;
    width: 40%;
    justify-self: center;
}

.reserve-div img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
}

.socials-div {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1px;
    padding: 1px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.socials-div p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.soc-divider {
    border: 0;
    height: 1px;
    background-color: #b49f6b;
    width: 30%;
}

i {
    font-size: 20px;
    color: #fff;
    margin-top: 16px;
    padding-right: 0px;
}

.res-divider {
    border: 0;
    height: 1px;
    background-color: #b49f6b;
    width: 30%;
}

.footer-div {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-div p {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    padding: 10px;
}

.discount-info {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}
